<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.biketracker" >

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false" />

    <application android:icon="@drawable/ic_launcher_bike" >
        <activity
            android:name=".track.LaunchTrackingService"
            android:label="@string/launcher_label" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".track.StopTrackingService" >
        </activity>

        <service
            android:name=".track.TrackingService"
            android:label="@string/biketracker_trackingsrv" >
        </service>
        <receiver android:name=".submit.NetworkChangeReceiver" 
            android:label="@string/bicketracker_networklistnr">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver><service
            android:name=".submit.SubmittingService"
            android:label="@string/biketracker_submittingsrv" >
        </service>

        
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />

</manifest>